.popup {
    width: 400px;
    padding: 0.5em;
}

.note {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.author {
    font-size: 12px;
    color: grey;
}

.created-at {
    font-size: 12px;
    color: grey;
}

.note-text {
    font-weight: bold;
}